  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap');

  body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #2f74c0;
  }

  .heading{
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px 0;
    z-index: 1;
    text-align: center;
    color: #ffff;
  }

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.todos__single {
  display: flex;
  width: 45%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
}
.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}
